In [146]:
# This is a project for the computational physics course Fall 2018 at the Perimeter Institute
# The goal of this project is to get familiar with Julia language features and practice them

using Plots
using DataFrames
using Dates
using StatsBase
using Statistics
##############################################################################################################################################

CITY_DATA = Dict("Chicago" => "chicago.csv", "New York City" => "new_york_city.csv", "Washington" => "washington.csv")

function load_data(city::String, skipmissing = true)
	# load data file into a dataframe
	# By default, delete the rows with missing values
	df = readtable(CITY_DATA[city])
	if skipmissing
		dropmissing!(df)
	end
	# convert the Start Time column to datetime
	dateformat = "yyyy-mm-dd HH:MM:SS"
	df[:Start_Time] = map(x->DateTime(x,dateformat), df[:Start_Time])
	df[:End_Time] = map(x->DateTime(x,dateformat), df[:End_Time])
	df
end

function time_stats(df::DataFrame)
	# Displays statistics on the most frequent times of travel
	println("\nCalculating The Most Frequent Times of Travel...\n")
	@time begin
		# display the most common month
		df[:month] = map(x->Dates.month(x), df[:Start_Time])
		popular_month = mode(df[:month])
		println("The most popular month is:$popular_month")
		# display the most common day of week
		df[:day] = map(x->Dates.dayofweek(x), df[:Start_Time])
		popular_day = mode(df[:day])
		println("The most popular day of week is:$popular_day")
	end
end
	

function station_stats(df::DataFrame)
	# Displays statistics on the most popular stations and trip
	println("\nCalculating The Most Popular Stations and Trip...\n")
	@time begin
	    #display most commonly used start station
	    popular_start_station = mode(df[:Start_Station])
	    println("The most popular start station is:$popular_start_station")
	    # display most commonly used end station
	    popular_end_station = mode(df[:End_Station])
	    println("The most popular end station is:$popular_end_station")
	    # display most frequent combination of start station and end station trip
	    trip = "From" .* df[:Start_Station] .* "to" .* df[:End_Station]
	    popular_trip = mode(trip)
	    println("The most popular combination of start and end stations is:$popular_trip")
	end
end	

function trip_duration_stats(df::DataFrame)
	# Displays statistics on the total and average trip duration
	println("\nCalculating Trip Duration...\n")
	@time begin
	N = nrow(df)
	# display total travel time
	total_travel_time = sum(df[:Trip_Duration]) / 60
	println("The total travel time (in minutes) is:$total_travel_time")
	# display mean travel time
	mean_travel_time = total_travel_time / N
	println("The mean travel time (in minutes) is:$mean_travel_time")
	end
end

function user_stats(df::DataFrame)
	# Displays statistics on bikeshare users
	println("\nCalculating User Stats...\n")  
	@time begin
		# display counts of user types
		user_types = countmap(dropmissing!(df)[:User_Type])
		@show user_types
		# display counts of gender
		if :Gender in names(df)
			gender = countmap(dropmissing!(df)[:Gender])
			@show gender
		else
			println("There is no data for gender")
		end
		# display earliest, most recent, and most common year of birth
		if :Birth_Year in names(df)
			earliest = minimum(df[:Birth_Year])
			most_recent = maximum(df[:Birth_Year])
			popular = mode(df[:Birth_Year])
			println("The earliest year of birth is $earliest \nThe most recent year of birth is $most_recent \n The most common year of birth is $popular")
		else
			println("There is no data for birth year")
		end
	end
end

function show_results(df::DataFrame)
	time_stats(df)
	station_stats(df)
	trip_duration_stats(df)
	user_stats(df)
end

# Practice some Plots
function practice_plots(df::DataFrame)
	plot(2017 .- df[df.Gender .== "Female", :][:Birth_Year],
	df[df.Gender .== "Female", :][:Trip_Duration] ./60,
	seriestype=:scatter,
	color = "red",
  	label = "Female",
  	title = "Trip Duration vs Age",
  	xlabel = "Age",
 	ylabel = "Trip Duration(min)",
  	xlims = (0,120),
  	ylims = (0,1500),
 	legend =:topright)

	plot!(2017 .- df[df.Gender .== "Male", :][:Birth_Year],
	df[df.Gender .== "Male", :][:Trip_Duration] ./60,
	seriestype=:scatter,
	color = "blue",
  	label = "Male",
 	title = "Trip Duration vs Age",
  	xlabel = "Age",
  	ylabel = "Trip Duration(min)",
 	xlims = (0,120),
	ylims = (0,1500),
	legend =:topright)
end
##############################################################################################################################################

practice_plots (generic function with 1 method)

In [30]:
df1= load_data("Chicago")

┌ Warning: readtable is deprecated, use CSV.read from the CSV package instead
│   caller = load_data(::String, ::Bool) at In[29]:15
└ @ Main .\In[29]:15

238948×9 DataFrame. Omitted printing of 5 columns
│ Row    │ x       │ Start_Time          │ End_Time            │ Trip_Duration │
│        │ Int64⍰  │ DateTime            │ DateTime            │ Int64⍰        │
├────────┼─────────┼─────────────────────┼─────────────────────┼───────────────┤
│ 1      │ 1423854 │ 2017-06-23T15:09:32 │ 2017-06-23T15:14:53 │ 321           │
│ 2      │ 955915  │ 2017-05-25T18:19:03 │ 2017-05-25T18:45:53 │ 1610          │
│ 3      │ 9031    │ 2017-01-04T08:27:49 │ 2017-01-04T08:34:45 │ 416           │
│ 4      │ 304487  │ 2017-03-06T13:49:38 │ 2017-03-06T13:55:28 │ 350           │
│ 5      │ 45207   │ 2017-01-17T14:53:07 │ 2017-01-17T15:02:01 │ 534           │
│ 6      │ 1473887 │ 2017-06-26T09:01:20 │ 2017-06-26T09:11:06 │ 586           │
│ 7      │ 961916  │ 2017-05-26T09:41:44 │ 2017-05-26T09:46:25 │ 281           │
│ 8      │ 606841  │ 2017-04-20T16:08:51 │ 2017-04-20T16:20:20 │ 689           │
│ 9      │ 135470  │ 2017-02-06T18:00:47 │ 2017-02-06T18:09:00 │ 493           │
│ 10     │ 175805  │ 2017-02-15T07:09:55 │ 2017-02-15T07:14:56 │ 301           │
⋮
│ 238938 │ 474051  │ 2017-04-08T09:26:36 │ 2017-04-08T09:43:50 │ 1034          │
│ 238939 │ 845283  │ 2017-05-15T17:59:48 │ 2017-05-15T18:05:29 │ 341           │
│ 238940 │ 454645  │ 2017-04-04T17:16:49 │ 2017-04-04T17:35:00 │ 1091          │
│ 238941 │ 712351  │ 2017-05-02T17:45:19 │ 2017-05-02T17:52:00 │ 401           │
│ 238942 │ 1444489 │ 2017-06-24T15:28:12 │ 2017-06-24T16:08:11 │ 2399          │
│ 238943 │ 723217  │ 2017-05-03T19:15:23 │ 2017-05-03T19:29:32 │ 849           │
│ 238944 │ 1327248 │ 2017-06-17T16:44:16 │ 2017-06-17T16:50:57 │ 401           │
│ 238945 │ 935129  │ 2017-05-23T17:08:04 │ 2017-05-23T17:11:37 │ 213           │
│ 238946 │ 64825   │ 2017-01-21T13:18:00 │ 2017-01-21T13:27:50 │ 590           │
│ 238947 │ 159685  │ 2017-02-12T09:59:01 │ 2017-02-12T10:21:49 │ 1368          │
│ 238948 │ 1021247 │ 2017-05-30T12:38:28 │ 2017-05-30T12:55:36 │ 1028          │

In [31]:
df2 = load_data("Chicago", true)

238948×9 DataFrame. Omitted printing of 5 columns
│ Row    │ x       │ Start_Time          │ End_Time            │ Trip_Duration │
│        │ Int64⍰  │ DateTime            │ DateTime            │ Int64⍰        │
├────────┼─────────┼─────────────────────┼─────────────────────┼───────────────┤
│ 1      │ 1423854 │ 2017-06-23T15:09:32 │ 2017-06-23T15:14:53 │ 321           │
│ 2      │ 955915  │ 2017-05-25T18:19:03 │ 2017-05-25T18:45:53 │ 1610          │
│ 3      │ 9031    │ 2017-01-04T08:27:49 │ 2017-01-04T08:34:45 │ 416           │
│ 4      │ 304487  │ 2017-03-06T13:49:38 │ 2017-03-06T13:55:28 │ 350           │
│ 5      │ 45207   │ 2017-01-17T14:53:07 │ 2017-01-17T15:02:01 │ 534           │
│ 6      │ 1473887 │ 2017-06-26T09:01:20 │ 2017-06-26T09:11:06 │ 586           │
│ 7      │ 961916  │ 2017-05-26T09:41:44 │ 2017-05-26T09:46:25 │ 281           │
│ 8      │ 606841  │ 2017-04-20T16:08:51 │ 2017-04-20T16:20:20 │ 689           │
│ 9      │ 135470  │ 2017-02-06T18:00:47 │ 2017-02-06T18:09:00 │ 493           │
│ 10     │ 175805  │ 2017-02-15T07:09:55 │ 2017-02-15T07:14:56 │ 301           │
⋮
│ 238938 │ 474051  │ 2017-04-08T09:26:36 │ 2017-04-08T09:43:50 │ 1034          │
│ 238939 │ 845283  │ 2017-05-15T17:59:48 │ 2017-05-15T18:05:29 │ 341           │
│ 238940 │ 454645  │ 2017-04-04T17:16:49 │ 2017-04-04T17:35:00 │ 1091          │
│ 238941 │ 712351  │ 2017-05-02T17:45:19 │ 2017-05-02T17:52:00 │ 401           │
│ 238942 │ 1444489 │ 2017-06-24T15:28:12 │ 2017-06-24T16:08:11 │ 2399          │
│ 238943 │ 723217  │ 2017-05-03T19:15:23 │ 2017-05-03T19:29:32 │ 849           │
│ 238944 │ 1327248 │ 2017-06-17T16:44:16 │ 2017-06-17T16:50:57 │ 401           │
│ 238945 │ 935129  │ 2017-05-23T17:08:04 │ 2017-05-23T17:11:37 │ 213           │
│ 238946 │ 64825   │ 2017-01-21T13:18:00 │ 2017-01-21T13:27:50 │ 590           │
│ 238947 │ 159685  │ 2017-02-12T09:59:01 │ 2017-02-12T10:21:49 │ 1368          │
│ 238948 │ 1021247 │ 2017-05-30T12:38:28 │ 2017-05-30T12:55:36 │ 1028          │

In [32]:
head(df1)

6×9 DataFrame. Omitted printing of 5 columns
│ Row │ x       │ Start_Time          │ End_Time            │ Trip_Duration │
│     │ Int64⍰  │ DateTime            │ DateTime            │ Int64⍰        │
├─────┼─────────┼─────────────────────┼─────────────────────┼───────────────┤
│ 1   │ 1423854 │ 2017-06-23T15:09:32 │ 2017-06-23T15:14:53 │ 321           │
│ 2   │ 955915  │ 2017-05-25T18:19:03 │ 2017-05-25T18:45:53 │ 1610          │
│ 3   │ 9031    │ 2017-01-04T08:27:49 │ 2017-01-04T08:34:45 │ 416           │
│ 4   │ 304487  │ 2017-03-06T13:49:38 │ 2017-03-06T13:55:28 │ 350           │
│ 5   │ 45207   │ 2017-01-17T14:53:07 │ 2017-01-17T15:02:01 │ 534           │
│ 6   │ 1473887 │ 2017-06-26T09:01:20 │ 2017-06-26T09:11:06 │ 586           │

In [33]:
tail(df1)

6×9 DataFrame. Omitted printing of 5 columns
│ Row │ x       │ Start_Time          │ End_Time            │ Trip_Duration │
│     │ Int64⍰  │ DateTime            │ DateTime            │ Int64⍰        │
├─────┼─────────┼─────────────────────┼─────────────────────┼───────────────┤
│ 1   │ 723217  │ 2017-05-03T19:15:23 │ 2017-05-03T19:29:32 │ 849           │
│ 2   │ 1327248 │ 2017-06-17T16:44:16 │ 2017-06-17T16:50:57 │ 401           │
│ 3   │ 935129  │ 2017-05-23T17:08:04 │ 2017-05-23T17:11:37 │ 213           │
│ 4   │ 64825   │ 2017-01-21T13:18:00 │ 2017-01-21T13:27:50 │ 590           │
│ 5   │ 159685  │ 2017-02-12T09:59:01 │ 2017-02-12T10:21:49 │ 1368          │
│ 6   │ 1021247 │ 2017-05-30T12:38:28 │ 2017-05-30T12:55:36 │ 1028          │

In [34]:
describe(df1)

9×8 DataFrame. Omitted printing of 4 columns
│ Row │ variable      │ mean      │ min                 │ median   │
│     │ Symbol        │ Union…    │ Any                 │ Union…   │
├─────┼───────────────┼───────────┼─────────────────────┼──────────┤
│ 1   │ x             │ 7.42185e5 │ 4                   │ 7.2265e5 │
│ 2   │ Start_Time    │           │ 2017-01-01T00:07:57 │          │
│ 3   │ End_Time      │           │ 2017-01-01T00:20:53 │          │
│ 4   │ Trip_Duration │ 699.391   │ 60                  │ 565.0    │
│ 5   │ Start_Station │           │ 2112 W Peterson Ave │          │
│ 6   │ End_Station   │           │ 2112 W Peterson Ave │          │
│ 7   │ User_Type     │           │ Customer            │          │
│ 8   │ Gender        │           │ Female              │          │
│ 9   │ Birth_Year    │ 1980.86   │ 1899.0              │ 1984.0   │

In [108]:
df1[(df1.Birth_Year .> 1990) .& (df1.Trip_Duration .> 1000) .& (df1.Gender .== "Female"), :][1:2,:]

2×9 DataFrame. Omitted printing of 5 columns
│ Row │ x      │ Start_Time          │ End_Time            │ Trip_Duration │
│     │ Int64⍰ │ DateTime            │ DateTime            │ Int64⍰        │
├─────┼────────┼─────────────────────┼─────────────────────┼───────────────┤
│ 1   │ 955915 │ 2017-05-25T18:19:03 │ 2017-05-25T18:45:53 │ 1610          │
│ 2   │ 849468 │ 2017-05-16T06:36:17 │ 2017-05-16T06:59:34 │ 1397          │

In [132]:
col_1 = df1[(df1.Start_Station .== "Michigan Ave & Oak St") .& (df1.End_Station .== "Halsted St & Wrightwood Ave") ,:][1:2,:]

2×9 DataFrame. Omitted printing of 5 columns
│ Row │ x      │ Start_Time          │ End_Time            │ Trip_Duration │
│     │ Int64⍰ │ DateTime            │ DateTime            │ Int64⍰        │
├─────┼────────┼─────────────────────┼─────────────────────┼───────────────┤
│ 1   │ 849468 │ 2017-05-16T06:36:17 │ 2017-05-16T06:59:34 │ 1397          │
│ 2   │ 261757 │ 2017-02-25T19:01:19 │ 2017-02-25T19:08:10 │ 411           │

In [133]:
col_2 = df1[(df1.Start_Station .== "Michigan Ave & Oak St") .& (df1.End_Station .== "Lincoln Ave & Addison St") ,:][1:2,:]

2×9 DataFrame. Omitted printing of 5 columns
│ Row │ x       │ Start_Time          │ End_Time            │ Trip_Duration │
│     │ Int64⍰  │ DateTime            │ DateTime            │ Int64⍰        │
├─────┼─────────┼─────────────────────┼─────────────────────┼───────────────┤
│ 1   │ 1377062 │ 2017-06-20T18:29:56 │ 2017-06-20T19:00:22 │ 1826          │
│ 2   │ 1396870 │ 2017-06-21T19:39:08 │ 2017-06-21T20:11:52 │ 1964          │

In [135]:
join(col_1, col_2, on = :Start_Station, kind = :inner)

4×17 DataFrame. Omitted printing of 13 columns
│ Row │ x      │ Start_Time          │ End_Time            │ Trip_Duration │
│     │ Int64⍰ │ DateTime            │ DateTime            │ Int64⍰        │
├─────┼────────┼─────────────────────┼─────────────────────┼───────────────┤
│ 1   │ 849468 │ 2017-05-16T06:36:17 │ 2017-05-16T06:59:34 │ 1397          │
│ 2   │ 849468 │ 2017-05-16T06:36:17 │ 2017-05-16T06:59:34 │ 1397          │
│ 3   │ 261757 │ 2017-02-25T19:01:19 │ 2017-02-25T19:08:10 │ 411           │
│ 4   │ 261757 │ 2017-02-25T19:01:19 │ 2017-02-25T19:08:10 │ 411           │

In [143]:
join(col_1, col_2, on = :End_Station, kind = :outer)

4×17 DataFrame. Omitted printing of 13 columns
│ Row │ x       │ Start_Time          │ End_Time            │ Trip_Duration │
│     │ Int64⍰  │ DateTime⍰           │ DateTime⍰           │ Int64⍰        │
├─────┼─────────┼─────────────────────┼─────────────────────┼───────────────┤
│ 1   │ 849468  │ 2017-05-16T06:36:17 │ 2017-05-16T06:59:34 │ 1397          │
│ 2   │ 261757  │ 2017-02-25T19:01:19 │ 2017-02-25T19:08:10 │ 411           │
│ 3   │ missing │ missing             │ missing             │ missing       │
│ 4   │ missing │ missing             │ missing             │ missing       │

In [144]:
join(col_1, col_2, on = :Gender, kind = :anti)

1×9 DataFrame. Omitted printing of 5 columns
│ Row │ x      │ Start_Time          │ End_Time            │ Trip_Duration │
│     │ Int64⍰ │ DateTime            │ DateTime            │ Int64⍰        │
├─────┼────────┼─────────────────────┼─────────────────────┼───────────────┤
│ 1   │ 261757 │ 2017-02-25T19:01:19 │ 2017-02-25T19:08:10 │ 411           │

In [141]:
join(col_1, col_2, kind = :cross, makeunique=true)

4×18 DataFrame. Omitted printing of 14 columns
│ Row │ x      │ Start_Time          │ End_Time            │ Trip_Duration │
│     │ Int64⍰ │ DateTime            │ DateTime            │ Int64⍰        │
├─────┼────────┼─────────────────────┼─────────────────────┼───────────────┤
│ 1   │ 849468 │ 2017-05-16T06:36:17 │ 2017-05-16T06:59:34 │ 1397          │
│ 2   │ 849468 │ 2017-05-16T06:36:17 │ 2017-05-16T06:59:34 │ 1397          │
│ 3   │ 261757 │ 2017-02-25T19:01:19 │ 2017-02-25T19:08:10 │ 411           │
│ 4   │ 261757 │ 2017-02-25T19:01:19 │ 2017-02-25T19:08:10 │ 411           │

In [148]:
by(df1, :Gender, df1 -> mean(df1.Trip_Duration))

2×2 DataFrame
│ Row │ Gender  │ x1      │
│     │ String⍰ │ Float64 │
├─────┼─────────┼─────────┤
│ 1   │ Male    │ 673.212 │
│ 2   │ Female  │ 781.516 │

In [150]:
by(df1, :User_Type) do df1
    DataFrame(m = mean(df1.Trip_Duration), s² = var(df1.Trip_Duration))
end

3×3 DataFrame
│ Row │ User_Type  │ m       │ s²        │
│     │ String⍰    │ Float64 │ Float64   │
├─────┼────────────┼─────────┼───────────┤
│ 1   │ Subscriber │ 699.351 │ 9.83955e5 │
│ 2   │ Customer   │ 807.637 │ 3.76558e5 │
│ 3   │ Dependent  │ 311.0   │ NaN       │

In [159]:
aggregate(col_1, :Birth_Year, typeof)

2×9 DataFrame. Omitted printing of 6 columns
│ Row │ Birth_Year │ x_typeof                       │ Start_Time_typeof │
│     │ Float64⍰   │ DataType                       │ DataType          │
├─────┼────────────┼────────────────────────────────┼───────────────────┤
│ 1   │ 1992.0     │ Array{Union{Missing, Int64},1} │ Array{DateTime,1} │
│ 2   │ 1970.0     │ Array{Union{Missing, Int64},1} │ Array{DateTime,1} │

In [160]:
typeof(missing)

Missing

In [164]:
sort!(df1, (:Trip_Duration, :Start_Station, :Birth_Year))

238948×9 DataFrame. Omitted printing of 5 columns
│ Row    │ x       │ Start_Time          │ End_Time            │ Trip_Duration │
│        │ Int64⍰  │ DateTime            │ DateTime            │ Int64⍰        │
├────────┼─────────┼─────────────────────┼─────────────────────┼───────────────┤
│ 1      │ 104080  │ 2017-01-30T11:58:04 │ 2017-01-30T11:59:04 │ 60            │
│ 2      │ 1399109 │ 2017-06-21T22:24:54 │ 2017-06-21T22:25:54 │ 60            │
│ 3      │ 1286867 │ 2017-06-15T09:17:38 │ 2017-06-15T09:18:38 │ 60            │
│ 4      │ 124303  │ 2017-02-03T16:53:51 │ 2017-02-03T16:54:51 │ 60            │
│ 5      │ 599295  │ 2017-04-19T18:27:12 │ 2017-04-19T18:28:12 │ 60            │
│ 6      │ 1466472 │ 2017-06-25T17:46:40 │ 2017-06-25T17:47:40 │ 60            │
│ 7      │ 1261790 │ 2017-06-13T13:15:20 │ 2017-06-13T13:16:20 │ 60            │
│ 8      │ 971879  │ 2017-05-27T12:24:34 │ 2017-05-27T12:25:34 │ 60            │
│ 9      │ 143331  │ 2017-02-08T11:33:55 │ 2017-02-08T11:34:55 │ 60            │
│ 10     │ 314465  │ 2017-03-07T17:53:59 │ 2017-03-07T17:54:59 │ 60            │
⋮
│ 238938 │ 15988   │ 2017-01-06T16:26:07 │ 2017-01-07T11:37:07 │ 69060         │
│ 238939 │ 133136  │ 2017-02-06T13:34:54 │ 2017-02-07T08:55:57 │ 69663         │
│ 238940 │ 1362988 │ 2017-06-19T21:48:45 │ 2017-06-20T17:32:27 │ 71022         │
│ 238941 │ 375392  │ 2017-03-21T16:27:03 │ 2017-03-22T12:37:03 │ 72600         │
│ 238942 │ 135434  │ 2017-02-06T17:57:14 │ 2017-02-07T14:22:50 │ 73536         │
│ 238943 │ 22147   │ 2017-01-09T17:00:34 │ 2017-01-10T13:39:56 │ 74362         │
│ 238944 │ 264867  │ 2017-02-26T18:40:42 │ 2017-02-27T16:18:47 │ 77885         │
│ 238945 │ 49262   │ 2017-01-18T09:14:54 │ 2017-01-19T07:25:07 │ 79813         │
│ 238946 │ 10473   │ 2017-01-04T17:06:17 │ 2017-01-05T15:32:34 │ 80777         │
│ 238947 │ 512635  │ 2017-04-11T18:45:19 │ 2017-04-12T18:31:31 │ 85572         │
│ 238948 │ 217922  │ 2017-02-19T16:02:00 │ 2017-02-20T15:51:02 │ 85742         │

In [165]:
sort!(df1, (:Trip_Duration, :Start_Station, :Birth_Year), rev = (true, false, false))

238948×9 DataFrame. Omitted printing of 5 columns
│ Row    │ x       │ Start_Time          │ End_Time            │ Trip_Duration │
│        │ Int64⍰  │ DateTime            │ DateTime            │ Int64⍰        │
├────────┼─────────┼─────────────────────┼─────────────────────┼───────────────┤
│ 1      │ 217922  │ 2017-02-19T16:02:00 │ 2017-02-20T15:51:02 │ 85742         │
│ 2      │ 512635  │ 2017-04-11T18:45:19 │ 2017-04-12T18:31:31 │ 85572         │
│ 3      │ 10473   │ 2017-01-04T17:06:17 │ 2017-01-05T15:32:34 │ 80777         │
│ 4      │ 49262   │ 2017-01-18T09:14:54 │ 2017-01-19T07:25:07 │ 79813         │
│ 5      │ 264867  │ 2017-02-26T18:40:42 │ 2017-02-27T16:18:47 │ 77885         │
│ 6      │ 22147   │ 2017-01-09T17:00:34 │ 2017-01-10T13:39:56 │ 74362         │
│ 7      │ 135434  │ 2017-02-06T17:57:14 │ 2017-02-07T14:22:50 │ 73536         │
│ 8      │ 375392  │ 2017-03-21T16:27:03 │ 2017-03-22T12:37:03 │ 72600         │
│ 9      │ 1362988 │ 2017-06-19T21:48:45 │ 2017-06-20T17:32:27 │ 71022         │
│ 10     │ 133136  │ 2017-02-06T13:34:54 │ 2017-02-07T08:55:57 │ 69663         │
⋮
│ 238938 │ 109731  │ 2017-01-31T16:28:02 │ 2017-01-31T16:29:02 │ 60            │
│ 238939 │ 1338373 │ 2017-06-18T14:16:48 │ 2017-06-18T14:17:48 │ 60            │
│ 238940 │ 457132  │ 2017-04-04T22:21:33 │ 2017-04-04T22:22:33 │ 60            │
│ 238941 │ 1096056 │ 2017-06-03T18:26:56 │ 2017-06-03T18:27:56 │ 60            │
│ 238942 │ 419518  │ 2017-03-29T09:46:27 │ 2017-03-29T09:47:27 │ 60            │
│ 238943 │ 681705  │ 2017-04-27T08:35:22 │ 2017-04-27T08:36:22 │ 60            │
│ 238944 │ 704384  │ 2017-05-01T15:23:35 │ 2017-05-01T15:24:35 │ 60            │
│ 238945 │ 914807  │ 2017-05-21T20:30:29 │ 2017-05-21T20:31:29 │ 60            │
│ 238946 │ 1459207 │ 2017-06-25T13:05:00 │ 2017-06-25T13:06:00 │ 60            │
│ 238947 │ 1456787 │ 2017-06-25T11:21:04 │ 2017-06-25T11:22:04 │ 60            │
│ 238948 │ 1273518 │ 2017-06-14T07:33:23 │ 2017-06-14T07:34:23 │ 60            │

In [169]:
d = stack(df1, 5:6)

477896×9 DataFrame. Omitted printing of 6 columns
│ Row    │ variable      │ value                        │ x       │
│        │ Symbol        │ Union{Missing, String}       │ Int64⍰  │
├────────┼───────────────┼──────────────────────────────┼─────────┤
│ 1      │ Start_Station │ Michigan Ave & Oak St        │ 217922  │
│ 2      │ Start_Station │ Michigan Ave & Oak St        │ 512635  │
│ 3      │ Start_Station │ Michigan Ave & Oak St        │ 10473   │
│ 4      │ Start_Station │ Michigan Ave & Oak St        │ 49262   │
│ 5      │ Start_Station │ Michigan Ave & Oak St        │ 264867  │
│ 6      │ Start_Station │ Michigan Ave & Oak St        │ 22147   │
│ 7      │ Start_Station │ Michigan Ave & Oak St        │ 135434  │
│ 8      │ Start_Station │ Michigan Ave & Oak St        │ 375392  │
│ 9      │ Start_Station │ Michigan Ave & Oak St        │ 1362988 │
│ 10     │ Start_Station │ Michigan Ave & Oak St        │ 133136  │
⋮
│ 477886 │ End_Station   │ Ada St & Washington Blvd     │ 109731  │
│ 477887 │ End_Station   │ Loomis St & Lexington St     │ 1338373 │
│ 477888 │ End_Station   │ Humboldt Blvd & Armitage Ave │ 457132  │
│ 477889 │ End_Station   │ MLK Jr Dr & 29th St          │ 1096056 │
│ 477890 │ End_Station   │ MLK Jr Dr & 29th St          │ 419518  │
│ 477891 │ End_Station   │ Lake Park Ave & 56th St      │ 681705  │
│ 477892 │ End_Station   │ State St & 33rd St           │ 704384  │
│ 477893 │ End_Station   │ Adler Planetarium            │ 914807  │
│ 477894 │ End_Station   │ Campbell Ave & North Ave     │ 1459207 │
│ 477895 │ End_Station   │ Streeter Dr & Grand Ave      │ 1456787 │
│ 477896 │ End_Station   │ LaSalle St & Washington St   │ 1273518 │

In [170]:
head(d)

6×9 DataFrame. Omitted printing of 5 columns
│ Row │ variable      │ value                 │ x      │ Start_Time          │
│     │ Symbol        │ String⍰               │ Int64⍰ │ DateTime            │
├─────┼───────────────┼───────────────────────┼────────┼─────────────────────┤
│ 1   │ Start_Station │ Michigan Ave & Oak St │ 217922 │ 2017-02-19T16:02:00 │
│ 2   │ Start_Station │ Michigan Ave & Oak St │ 512635 │ 2017-04-11T18:45:19 │
│ 3   │ Start_Station │ Michigan Ave & Oak St │ 10473  │ 2017-01-04T17:06:17 │
│ 4   │ Start_Station │ Michigan Ave & Oak St │ 49262  │ 2017-01-18T09:14:54 │
│ 5   │ Start_Station │ Michigan Ave & Oak St │ 264867 │ 2017-02-26T18:40:42 │
│ 6   │ Start_Station │ Michigan Ave & Oak St │ 22147  │ 2017-01-09T17:00:34 │

In [171]:
tail(d)

6×9 DataFrame. Omitted printing of 6 columns
│ Row │ variable    │ value                      │ x       │
│     │ Symbol      │ Union{Missing, String}     │ Int64⍰  │
├─────┼─────────────┼────────────────────────────┼─────────┤
│ 1   │ End_Station │ Lake Park Ave & 56th St    │ 681705  │
│ 2   │ End_Station │ State St & 33rd St         │ 704384  │
│ 3   │ End_Station │ Adler Planetarium          │ 914807  │
│ 4   │ End_Station │ Campbell Ave & North Ave   │ 1459207 │
│ 5   │ End_Station │ Streeter Dr & Grand Ave    │ 1456787 │
│ 6   │ End_Station │ LaSalle St & Washington St │ 1273518 │

In [172]:
show_results(df1)

Calculating The Most Frequent Times of Travel...

The most popular month is:6
The most popular day of week is:2
  0.115023 seconds (255.82 k allocations: 16.741 MiB)

Calculating The Most Popular Stations and Trip...

The most popular start station is:Michigan Ave & Oak St
The most popular end station is:Clinton St & Washington Blvd
The most popular combination of start and end stations is:FromMichigan Ave & Oak SttoClinton St & Washington Blvd
  0.512554 seconds (1.41 M allocations: 76.407 MiB, 6.89% gc time)

Calculating Trip Duration...

The total travel time (in minutes) is:2.7853005833333335e6
The mean travel time (in minutes) is:11.656513481315322
  0.011856 seconds (23.41 k allocations: 1.183 MiB)

Calculating User Stats...

user_types = Dict{Union{Missing, String},Int64}("Subscriber"=>238856,"Dependent"=>1,"Customer"=>91)
gender = Dict{Union{Missing, String},Int64}("Female"=>57758,"Male"=>181190)
The earliest year of birth is 1899.0
The most recent year of birth is 2016.0
 The most common year of birth is 1989.0
  0.605129 seconds (1.82 M allocations: 102.572 MiB, 9.29% gc time)